$cream: #FFFAED;
$yellow: #FCE442;
$green: #40BB55;
$orange: #EC7750;
$blue: #54CCFF;
$purple: #E8B9F8;
$brown: #42210B;
$black: #121212;

$nunito:  "Nunito", Arial, sans-serif;

$mobile: 800px;
$desktop: 1200px;

@import 'styles/normalize.css';
@import 'styles/hljs-theme.css';
@import 'styles/icons';
@import 'styles/main';
@import 'styles/home';
@import 'styles/faqs';
@import 'styles/docs';