$cream: #FFFAED;
$yellow: #FCE442;
$green: #40BB55;
$orange: #EC7750;
$blue: #54CCFF;
$purple: #E8B9F8;
$brown: #42210B;
$black: #121212;

$nunito:  "Nunito", Arial, sans-serif;

$mobile: 800px;

* {
	box-sizing: border-box;
}

img,video {
	max-width: 100%;
}

img + img {
	margin-top: 1.4rem;
}

$background-size: 20rem;

body {
	background-color: $cream;
	font-family: $nunito;
	font-size:18px;
	min-height: 100vh;
	padding: 8rem;
	color: $black;

	@media only screen and (max-width: $mobile) {
		padding: 4rem;
	}

	&:before {
		content:"";
		display:block;
		position: fixed;
		top: 0px;
		left:0px;
		width: 100vw;
		height: 100vh;
		opacity: 0.05;
		z-index:-1;

		background-image: url("images/pattern.svg");

		background-repeat: repeat;
		background-size: $background-size;

		animation: slidebg 16s linear infinite normal;
	}
}

h1 {
	font-size: 4rem;
	font-weight: 900;
	margin-top:0px;
	text-shadow: 0.2rem 0.2rem rgba(0,0,0,0.2);
	color: $brown;
}

h2 {
	font-family: 'Nunito';
	font-style: normal;
	font-weight: 800;
	font-size: 2.8rem;
	line-height: 120%;
	// color: $brown;

	@media only screen and (max-width: $mobile) {
		font-size:2rem;
	}
}

p {
	font-weight: 700;
	margin-bottom:0px;
	line-height: 1.8;

	span.chat, span.setting {
		padding: 0 0.5em;
		margin: 0 0.2em;
		// border: 2px solid;
		background-color: rgba(0,0,0,0.1);
		border-radius: 0.5em;
		text-decoration: none;
		color: inherit;
		font-size: 1em;
		white-space: nowrap;
	}

	span.chat {
		&:before {
			content:"";
			display:inline-block;
			width: 0.8em;
			height: 0.8em;
			background-image: url('/images/chat-icon.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 0.3em;
			vertical-align: middle;
		}
	}

	span.setting {
		&:before {
			content:"";
			display:inline-block;
			width: 0.9em;
			height: 0.9em;
			background-image: url('/images/setting-enable-icon.svg');
			background-size: contain;
			background-position: center;
			background-repeat: no-repeat;
			margin-right: 0.3em;
			vertical-align: middle;
			margin-bottom: 0.2em;
		}

		&.disable:before {
			background-image: url('/images/setting-disable-icon.svg');
		}
	}
}

.table-wrapper {
	overflow: scroll;
}

table {
    width: 100%;
    border-spacing: 1rem;
    table-layout: fixed;

    th {
    	font-size: 1.6rem;
    	font-weight: 800;
    	text-align: right;
    	padding: 0 1rem;

    	span {
    		display: block;
    		font-size: 0.6em;
    	}
    }

    td {
        border-radius: 2rem;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1rem;
        text-align: right;
        font-size: 1.4rem;
        font-weight: 800;

        &.gold {
        	&:after {
        		content:"";
        		display:inline-block;
        		width: 1em;
        		height: 1em;
        		background-image: url('/images/gold-icon.svg');
        		background-size: contain;
        		background-position: center;
        		background-repeat: no-repeat;
        		margin-left: 0.5em;
        		vertical-align: middle;
        	}

        }

        &.rarity {
            // border-radius: 1rem 2rem 2rem 1rem;
            border: 3px solid black;
            text-transform: uppercase;
            font-weight: 900;
            font-size: 1.1rem;
            letter-spacing: 0.03em;
            text-align: left;

            &:before {
            	content:"";
            	display: inline-block;
            	width: 0.5rem;
            	height: 0.5rem;
            	margin-right: 1rem;
            	border-radius: 50%;
            	border: 3px solid black;
            }

            &.rarity-junk {
            	background-color: #D7924C;
            }

            &.rarity-common {
            	background-color: #FFC5C5;
            }

            &.rarity-uncommon {
            	background-color: #80CD4C;
            }

            &.rarity-rare {
            	background-color: #6ED6FF;
            }

            &.rarity-epic {
            	background-color: #B169FF;
            }

            &.rarity-legendary {
            	background-color: #F8EA21;
            }
        }
    }
}

.rule {
	border-bottom: $brown 2px solid;
	opacity: 0.2;
}

$note-margin: 3rem;

.grid-item {
	width: calc(50% -  #{$note-margin} * 2);
	margin: $note-margin;

	@media only screen and (max-width: 1200px) {
		width: 100%;
		margin-left: 0px;
		margin-right: 0px;
	}
}

.grid-item.element {
	width:1px;
	height:1px;
	margin:0px;

	img {
		max-width: unset;
		width: 15rem;
		height: auto;
		z-index: 99;
		position: relative;
		transform: translateX(-50%) translateY(-50%);
		transition: 0.1s opacity;

		&:hover {
			opacity: 0.4;
		}
	}
}

.logo-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 2rem;

	.logo {
		max-width: 300px;
		margin-top: -2rem;
		margin-left: -2rem;

		animation: logopulse 2s ease-in-out infinite alternate;
	}

	h1 {
		margin-bottom: 0px;
	}
}

.note {
	background-color: $yellow;
	padding: 4rem;
	border-radius: 2rem;
	position: relative;

	transform: rotate(-3deg);

	@media only screen and (max-width: $mobile) {
		padding: 3rem;
	}

	h2, p {
		margin: 2rem 0rem;
	}

	& > *:first-child {
		margin-top: 0px;
	}
	& > *:last-child {
		margin-bottom: 0px;
	}

	a {
		padding: 0 0.5em;
		margin: 0 0.2em;
		border: 2px solid;
		border-radius: 0.5em;
		text-decoration: none;
		color: inherit;
		font-size: 0.9em;

		&:hover {
			background-color: $brown;
			color: $cream;
			border-color: $brown;
		}

		&.button {
			padding: 0.6em 1em;
			font-size: 1.2rem;
			background-color: rgba(255,255,255,0.3);
			border-width: 3px;
			font-weight: 800;

			&:hover {
				background-color: $brown;
				color: $cream;
				border-color: $brown;
			}
		}
	}

	pre {
		overflow: scroll;
		  border-radius: 1rem;
		  background-color: rgba(255,255,255,0.4);
		  padding: 2rem;
		  font-size: 1rem;
		  line-height: 1.3;
	}

	video, img {
		width:100%;
		border-radius: 1rem;
	}

	&:before{
		-webkit-mask-image: url(images/tape-shape-1.svg);
		mask-image: url(images/tape-shape-1.svg);
		background-color: $green;
		-webkit-mask-repeat: no-repeat;
		mask-position: center;
		mask-size: cover;
		mask-repeat: no-repeat;
		content: "";
		display: block;
		position: absolute;
		top:0px;
		left:10%;
		width: 4rem;
		height: 7rem;
		transform: translateY(-50%) rotate(15deg);
		opacity: 0.5;
	}

	&:nth-child(5n + 2) {
		background-color: $green;
		transform: rotate(2deg);

		&:before{
			background-color: $orange;
			left:90%;
			transform: translateY(-50%) rotate(-45deg);
		}
	}

	&:nth-child(5n + 3) {
		background-color: $orange;
		transform: rotate(-1deg);

		&:before{
			background-color: $blue;
			left:50%;
			transform: translateX(-50%) translateY(-50%) rotate(-92deg);
		}
	}

	&:nth-child(5n + 4) {
		background-color: $blue;
		transform: rotate(3deg);

		&:before{
			background-color: $yellow;
			left:0%;
			top: 20%;
			transform: translateX(-50%) rotate(30deg);
		}
	}

	&:nth-child(5n + 5) {
		background-color: $purple;
		transform: rotate(3deg);

		&:before{
			background-color: $yellow;
			left:100%;
			top: 40%;
			transform: translateX(-50%) rotate(-15deg);
		}
	}

	&.tiny-rotation {
		transform: rotate(0.5deg);
	}
}

@keyframes logopulse {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(0.9);
  }
}

@keyframes slidebg {
  from {
    background-position: 0rem 0rem;
  }

  to {
    background-position: $background-size $background-size;
  }
}